/* temp -- REMOVE WHEN DONE STYLING */
body {
    background-color: #312c2c;
}

#options-window {
    background-color: #aab5ba;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    padding: 5px;
    z-index: 998;/* sets the promotion box to stack over other div elements */
}

#options-title {
    display:flex;
    float: left;
    
    margin: 0px 20px 15px 0px;
}

/* close icon */
.close {
    display: flex;
    float: right;
    margin-left: 10px;
}

.menu-btns {
    padding: 10px 20px 10px 20px;
}

.settings-confirm {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}










/* TEMP REMOVE IF JS DROPDOWN MENU IS NOT USED */
/* Seperated until dropdown menus are working */
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
} 